[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sounddevice = "*"
numpy = "*"
keyboard = "*"
python-dotenv = "*"
pyloudnorm = "*"

[dev-packages]

[requires]
python_version = "3.11"
